[submodule "lib/middleclass"]
	path = lib/middleclass
	url = https://github.com/kikito/middleclass
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump
[submodule "lib/baton"]
	path = lib/baton
	url = https://github.com/tesselode/baton.git
